@model ServerFile.Models.ModelFile

@{
    ViewBag.Title = "Index";
       
}


<html>
<head>
    <title>Pobierz plik</title>
</head>

<body>
    
    <p>
        @Html.ActionLink("Generete New", "Download")
    </p>
    <table>
    <tr>
        <th>
            @Html.EditorFor(model => model.FileAmount)
        </th>
    </tr>
        <th>
            @Html.EditorFor(model => model.MaxValue)
        </th>
    
    </table>

</body>

</html>