@{
    ViewBag.Title = "Index";
       
}


<html>
<head>
    <title>Pobierz plik</title>
</head>

<body>
    
        <input type="text" name="input" id="inputText" value="" />
        <input type="submit" name="Download" value="input" />
      
</body>

</html>